<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AtheneTest"> 
  <test name="Login Test" parallel="false" preserve-order="true">
    <classes>
      <class name="attotest.testLoginTest"/>
    </classes>
  </test>
  <test name="Service Test ">
    <classes>
      <class name="attotest.testServiceTest"/>
    </classes>
   </test>   
</suite>
