<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AtheneTest"> 
  <test name="Login Test" parallel="false" preserve-order="true">
    <classes>
      <class name="attotest.testLoginTest"/>
    </classes>
  </test>
  <test name="Service Test ">
    <classes>
      <class name="attotest.testServiceTest"/>
    </classes>
  </test>   
  <test name="Cluster Test ">
    <classes>
      <class name="attotest.testClusterTest"/>
    </classes>
  </test>
  <test name="Cnode Test ">
    <classes>
      <class name="attotest.testCnodeTest"/>
    </classes>
  </test>   
  <test name="Subnet Test ">
    <classes>
      <class name="attotest.testSubnetTest"/>
  </classes>
  </test> 
  <test name="User Test ">
    <classes>
      <class name="attotest.testUserTest"/>
  </classes>
  </test>           
</suite>
